<div class="dashboard-container">
  <!-- Line Chart -->
  <div class="chart-box">
    <h2></h2>
    <app-line-chart></app-line-chart>
  </div>

  <!-- Vertical Bar Chart -->
  <div class="chart-box">
    <h2></h2>
    <app-bar-chart chartId="verticalBarChart" direction="vertical"></app-bar-chart>
  </div>

  <!-- Donut Chart -->
  <div class="chart-box">
    <h2></h2>
    <app-donut-chart></app-donut-chart>
  </div>

  <!-- Horizontal Bar Chart -->
  <div class="chart-box">
    <h2></h2>
    <app-bar-chart chartId="horizontalBarChart" direction="horizontal"></app-bar-chart>
  </div>
</div>

